h1{
    text-align: center;
    border-bottom: 10px dashed rgba(255, 64, 0, 0.637);
}

img{
    width: 800px;
    height: 500px;
}

body{
    text-align: center;
    font-size: large;
    background-color: aqua;
}

.image{
    width: 200px;
    height: 100px;
}


main{
    float: left;
}
